<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <% for (var i = 0; i < projects.length; i++) { %>
    <div data-owner="<%- projects[i].owner_id %>" class="project">
      <a href="/projects/<%- projects[i].id %>""><h3><%= projects[i].name %></h3></a>
      <p>Owner: <%= projects[i].owner_id %></p>
      <p>Project ID: <%= projects[i].id %></p>
    </div>
    <% } %>
    <script>
      let owners = '<%- owners %>';
      window.addEventListener('DOMContentLoaded', async function (event) {
        const API_KEY = process.env.API_KEY;
        console.log('API_KEY2', API_KEY);
        let res = await fetch(
          `http://api.hackaday.io/v1/users/batch?ids=${owners}&api_key=fFndNxfzWpFivelu`,
          { cache: 'no-cache' }
        );
        let data = await res.json();
        data.users.forEach((user) => {
          if (sessionStorage.getItem(`user-${user.id}`)) {
            return;
          } else {
            sessionStorage.setItem(`user-${user.id}`, JSON.stringify(user));
          }
        });
      });

      let projects = document.getElementsByClassName('project');
      for (let project of projects) {
        const owner = JSON.parse(
          sessionStorage.getItem(`user-${project.dataset.owner}`)
        );
        const node = document.createElement('div');
        node.classList.add('selector');
        const textNode = document.createTextNode(owner.username);
        node.appendChild(textNode);

        const tooltip = document.createElement('span');
        tooltip.classList.add('tooltip');
        // const screenNameText = document.createTextNode(
        //   `Screen Name: ${owner.screen_name} \nRank: ${owner.rank}`
        // );
        tooltip.innerHTML = `<p>Screen Name: ${owner.screen_name}</p><p>Rank: ${owner.rank}</p><p>About Me: ${owner.about_me}</p><p>Projects: ${owner.projects}</p><p>Followers: ${owner.followers}</p><p>Following: ${owner.following}</p><p>Skulls: ${owner.skulls}</p>`;
        node.appendChild(tooltip);

        project.appendChild(node);
      }
    </script>
  </body>
</html>
