<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div>
      <h1><%= project.name %></h1>
      <img src="<%= project.image_url %>" alt="" />
      <p class="label">Summary:</p>
      <p><%= project.summary %></p>
      <p class="label">Description:</p>
      <p><%= project.description %></p>
      <p><strong>Tags: </strong><%= project.tags %></p>

      <div>
        <p class="label">Checkout These Recommended Projects:</p>
        <ul id="recommended-projects"></ul>
      </div>
    </div>
    <script>
      let tags = '<%- project.tags %>';
      let projectName = '<%- project.name %>';
      tags = tags.split(/,| /).join('+');
      console.log('tags', tags);
      window.addEventListener('DOMContentLoaded', async function (event) {
        let res = await fetch(
          `http://api.hackaday.io/v1/search/projects?api_key=fFndNxfzWpFivelu&search_term=${tags}`
        );
        let data = await res.json();
        let projectsList = document.getElementById('recommended-projects');
        let count = 0;
        for (let i = 0; count < 10; i++) {
          let project = data.projects[i];
          // Don't add itself to it's own Recommended Projects list
          if (project.name === projectName) {
            continue;
          }

          let link = document.createElement('a');
          link.setAttribute('href', `/projects/${project.id}`);
          link.textContent = project.name;

          let listItem = document.createElement('li');
          listItem.appendChild(link);
          projectsList.appendChild(listItem);
          count++;
        }
      });
    </script>
  </body>
</html>
