<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div data-owner="<%- project.owner_id %>" class="project">
      <h3><%= project.name %></h3>
      <p>Owner: <%= project.owner_id %></p>
      <p>Summary: <%= project.summary %></p>
    </div>
    <script></script>
  </body>
</html>
